* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilos generales */
body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--color-text);
    font-family: var(--font-primary);
    overflow: hidden;

    
}

header{
    background-color: var(--color-header);
}

main {
    padding: 40px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h1,p {
    margin: 0;
}
/* Tema claro */
body.light-theme {
    --color-header: #e0e0e0;
    --color-background: #eeeeee;
    --color-panel: #fafafa;
    --color-button-default: #e0e0e0;
    --color-button-default-hover: #bdbdbd;
    --color-text: #424242;
    --color-title-panel: rgb(33 33 33 / 80%);
    --color-title-control: rgb(33 33 33 / 70%);
    --font-primary:'Open Sans', sans-serif;
    --border-radius: 3px;
    --font:16px;
    --font-sizes:36px;
}

/* Tema oscuro */
body.dark-theme {
    --color-header: #333;
    --color-background: #222;
    --color-panel: #1a1a1a;
    --color-button-default: #444;
    --color-button-default-hover: #666;
    --color-text: #fff;
    --color-title-panel: rgb(255 255 255 / 80%);
    --color-title-control: rgb(255 255 255 / 70%);
    --border-radius: 3px;
    --font: 16px;
    --font-sizes:36px;
}

/* Estilos del cuerpo según el tema */
body.light-theme {
    background-color: var(--color-background); /* Fondo para el tema claro */
    color: var(--color-text); /* Color de texto para el tema claro */
}

body.dark-theme {
    background-color: var(--color-background); /* Fondo para el tema oscuro */
    color: var(--color-text); /* Color de texto para el tema oscuro */
}

/* Estilos de la cabecera */

.app-header {
    background-color:var(--color-header);
    color:var(--color-text);
    text-align: center;
    padding: 20px;
}

.app-title {
    margin: 0;
    font-size: var(--font-sizes)
}

/* Estilos de los botones */
.button {
    display: inline-flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: 0 10px; 
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    color:var(--color-text);
    background-color:var(--color-button-default); /* Color de fondo predeterminado para los botones */
    transition: background-color 0.3s, opacity 0.3s;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.button:hover, .button-theme:hover {
    background-color: var(--color-button-default-hover); /* Cambio de color al pasar el ratón sobre los botones */
    opacity: 0.8;
}

/* Estilos del botón de alternancia de tema */
.button-theme {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: var(--font);
    cursor: pointer;
    border: none;
    border-radius: var(--border-radius);
    color:var(--color-text);
    background-color: var(--color-button-default); /* Color de fondo predeterminado para el botón de tema */
    transition: background-color 0.3s, opacity 0.3s;
}

/* Iconos */
.button-icon {
    margin-right: 5px;
    display:flex
}
.fa-file-image{
    margin-right: 5px;
    display: flex;
}



/* Meme Section */
.meme-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-background); 
    padding: 20px;
}

.meme-text-image{
    width: 50vh;
    height: 50vh;
    background-color: var(--color-background);
    position: relative;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}


.editor-container {
    display: flex;
    flex-grow: 1;
}

.meme-image {
    width: 100%; 
    background-size: cover;
    flex-grow: 1;
    background-color:black ;
    border-radius: var(--border-radius);

}

.meme-text{
    width: 100%;
    background: white;
    color: black;
    /* text-align: center; */
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 800;
    font-family: sans-serif;
    border-radius: var(--border-radius);
}

.button-download{
    margin-top: 30px;
    padding: 15px 15px;
    height: auto;
    background-color: #2e7d32;
    color: whitesmoke


}

/* Estilos para el aside */
.panel {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -500px; /* Inicialmente oculto hacia la derecha */
    width: 400px;
    height: 100%; 
    background-color:var(--color-background);
    padding: 20px;
    transition: right 0.3s ease; /* Transición suave al abrir/cerrar */ 
    z-index: 9999; /* Asegura que el aside esté sobre otros elementos */
    overflow-y: auto; /* Agrega barra de desplazamiento vertical si el contenido es demasiado largo */
}

.panel.open {
    right: 0;
}

/* Estilos para el contenido del aside */
.panel-section {
    margin-bottom: 40px;
}

.panel-title {
    margin-top: 15px;
}

.panel-control {
    margin-bottom: 15px;
}

.panel-control-title {
    margin-top: 15px;
    margin-bottom: 15px;
}

.panel-control-input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.panel-control-checkbox {
    display: flex;
    align-items: center;
}

.panel-control-color {
    display: flex;
    align-items: center;
}

.panel-control-color input[type="color"] {
    margin-right: 10px;
}

.panel-control-slider {
    margin-bottom: 10px;
    margin-top: 15px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

/* Estilos para el botón de descarga */
.button-download {
    margin-top: 20px;
}

/* Estilos para el botón de cierre del aside */
.panel-close-button {
    top: 10px;
    right: 10px;
    font-size: var(--font);
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    color: #666; 
}

/* Estilos para el botón de apertura del aside */
.panel-open-button {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: var(--font);
    background: none;
    border: none;
    cursor: pointer;
    color: #666; 

}


.button-style {
    padding: 10px;
    background-color: var(--color-button-default);
    color: var(--color-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-style:hover {
    background-color: var(--color-button-default-hover);
    opacity: 0.8;
}
.oculto{
    display: none;
}





