* {
    margin: 0;
    padding: 0;
    box-sizing: borde-box;
}
/* Estilos generales */
body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--color-text);
    font-family: var(--font-primary);
    overflow: hidden;

    
}
/* Tema claro */
body.light-theme {
    --color-header: #e0e0e0;
    --color-background: #eeeeee;
    --color-panel: #fafafa;
    --color-button-default: #e0e0e0;
    --color-button-default-hover: #bdbdbd;
    --color-text: #424242;
    --color-title-panel: rgb(33 33 33 / 80%);
    --color-title-control: rgb(33 33 33 / 70%);
    --font-primary:'Open Sans', sans-serif;
    --border-radius: 3px;
}

/* Tema oscuro */
body.dark-theme {
    --color-header: #333;
    --color-background: #222;
    --color-panel: #1a1a1a;
    --color-button-default: #444;
    --color-button-default-hover: #666;
    --color-text: #fff;
    --color-title-panel: rgb(255 255 255 / 80%);
    --color-title-control: rgb(255 255 255 / 70%);
    --border-radius: 3px;
}

/* Estilos de la cabecera */
.app-header {
    background-color:var(--color-header);
    color:var(--color-text);
    text-align: center;
    padding: 20px;
}

.app-title {
    margin: 0;
    font-size: 36px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* Estilos de los botones */
.button {
    display: inline-flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: 0 10px; 
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    color:var(--color-text);
    background-color:var(--color-button-default); /* Color de fondo predeterminado para los botones */
    transition: background-color 0.3s, opacity 0.3s;
}

.button:hover {
    background-color: var(--color-button-default-hover); /* Cambio de color al pasar el ratón sobre los botones */
    opacity: 0.8;
}

/* Estilos del botón de alternancia de tema */
.button-theme {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color:var(--color-text);
    background-color: var(--color-button-default); /* Color de fondo predeterminado para el botón de tema */
    transition: background-color 0.3s, opacity 0.3s;
}

.button-theme:hover {
    background-color:var(--color-button-default-hover); /* Cambio de color al pasar el ratón sobre el botón de tema */
    opacity: 0.8;
}

/* Iconos */
.button-icon {
    margin-right: 5px;
    display:flex
}
.fa-file-image{
    margin-right: 5px;
    display: flex;
}

/* Estilos del cuerpo según el tema */
body.light-theme {
    background-color: var(--color-background); /* Fondo para el tema claro */
    color: var(--color-text); /* Color de texto para el tema claro */
}

body.dark-theme {
    background-color: var(--color-background); /* Fondo para el tema oscuro */
    color: var(--color-text); /* Color de texto para el tema oscuro */
}

/* Meme Section */
.meme-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
  
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.meme-text-image{
    width: 100%;
    max-width: 610px;
    height: 355px;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    
}

h1,p {
    margin: 0;
}

.editor-container {
    display: flex;
    flex-grow: 1;
  }

.meme-image {
    width: 100%; /* Ajusta el tamaño según tus necesidades */
    background-size: cover;
    flex-grow: 1;

}
.meme-text{
    width: 100%;
    background: white;
    color: black;
    text-align: center;
    padding: 10px 0px;
    font-size: 20px;
    font-weight: 800;
    font-family: sans-serif;
}

.button-download{
    margin-top: 30px;
    padding: 15px 15px;
    height: auto;
    background-color: #2e7d32;
    color: white;


}

/* Estilos del panel lateral */
.panel {
    position: fixed;
    top: 0;
    right: -300px;
    height: 100%;
    width: 300px;
    background-color: var(--color-panel);
    transition: right 0.3s ease-in-out;
    overflow-y: auto;
}

.panel.open {
    right: 0;
}

.close-aside {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: var(--color-text);
}

.aside-img {
    padding: 20px;
}

.panel-column {
    margin-bottom: 20px;
}

.input-panel {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.panel-background {
    display: flex;
    align-items: center;
}

.background-input {
    margin-right: 10px;
}

.text-background-color {
    font-size: 14px;
}

.input-range {
    width: 100%;
    margin-bottom: 10px;
}

.button-style {
    padding: 10px;
    background-color: var(--color-button-default);
    color: var(--color-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-style:hover {
    background-color: var(--color-button-default-hover);
    opacity: 0.8;
}





